<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>twitter4j.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Searchtweet</servlet-name>
        <servlet-class>Origin.Searchtweet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Timeline</servlet-name>
        <servlet-class>Origin.Timeline</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Trangit</servlet-name>
        <servlet-class>Origin.Trangit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tweet</servlet-name>
        <servlet-class>Origin.Tweet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Origin.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginresult</servlet-name>
        <servlet-class>Origin.Loginresult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>Origin.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrationconfirm</servlet-name>
        <servlet-class>Origin.Registrationconfirm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registrationcomplete</servlet-name>
        <servlet-class>Origin.Registrationcomplete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Origin.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mydelete</servlet-name>
        <servlet-class>Origin.Mydelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mydeleteresult</servlet-name>
        <servlet-class>Origin.Mydeleteresult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Myupdateresult</servlet-name>
        <servlet-class>Origin.Myupdateresult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Myupdate</servlet-name>
        <servlet-class>Origin.Myupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mydata</servlet-name>
        <servlet-class>Origin.Mydata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mypage</servlet-name>
        <servlet-class>Origin.Mypage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Searchtweet</servlet-name>
        <url-pattern>/Searchtweet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Timeline</servlet-name>
        <url-pattern>/Timeline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Trangit</servlet-name>
        <url-pattern>/Trangit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tweet</servlet-name>
        <url-pattern>/Tweet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginresult</servlet-name>
        <url-pattern>/Loginresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrationconfirm</servlet-name>
        <url-pattern>/Registrationconfirm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrationcomplete</servlet-name>
        <url-pattern>/Registrationcomplete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mydelete</servlet-name>
        <url-pattern>/Mydelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mydeleteresult</servlet-name>
        <url-pattern>/Mydeleteresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Myupdateresult</servlet-name>
        <url-pattern>/Myupdateresult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Myupdate</servlet-name>
        <url-pattern>/Myupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mydata</servlet-name>
        <url-pattern>/Mydata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mypage</servlet-name>
        <url-pattern>/Mypage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
